@import "tailwindcss";
@plugin "daisyui" {
    themes:
        organiz3d_light --default,
        organiz3d_dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "organiz3d_light";
    default: true;
    prefersdark: false;
    color-scheme: "light";

    --color-base-100: #f5f8ff;
    --color-base-200: #dde3f3;
    --color-base-300: #c6cdde;
    --color-base-content: #161f2f;

    --color-primary: #2f80ed;
    --color-primary-content: #f5f8ff;
    --color-secondary: #56ccf2;
    --color-secondary-content: #161f2f;
    --color-accent: #ff6b81;
    --color-accent-content: #f5f8ff;
    --color-neutral: #e6ecf7;
    --color-neutral-content: #161f2f;

    --color-info: #2d9cdb;
    --color-info-content: #f5f8ff;
    --color-success: #27ae60;
    --color-success-content: #f5f8ff;
    --color-warning: #e2b100;
    --color-warning-content: #161f2f;
    --color-error: #d14343;
    --color-error-content: #f5f8ff;

    --radius-selector: 1.5rem;
    --radius-field: 1.5rem;
    --radius-box: 1.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "organiz3d_dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #161f2f;
    --color-base-200: #0f1621;
    --color-base-300: #090d13;
    --color-base-content: #f5f8ff;
    --color-primary: #2f80ed;
    --color-primary-content: #f5f8ff;
    --color-secondary: #56ccf2;
    --color-secondary-content: #f5f8ff;
    --color-accent: #ff6b81;
    --color-accent-content: #f5f8ff;
    --color-neutral: #1e283a;
    --color-neutral-content: #f5f8ff;
    --color-info: #3abff8;
    --color-info-content: #f5f8ff;
    --color-success: #22c55e;
    --color-success-content: #f5f8ff;
    --color-warning: #fbbf24;
    --color-warning-content: #f5f8ff;
    --color-error: #ef4444;
    --color-error-content: #f5f8ff;
    --radius-selector: 1.5rem;
    --radius-field: 1.5rem;
    --radius-box: 1.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}
